# Tipos de datos

## Datos numéricos
Los datos numéricos que pueden ser de tipo _entero_ y de _coma flotante_ (o simplemente _flotantes_ ).

Los números enteros son aquellos que no tienen parte decimal y el resultado de aplicar las operaciones aritméticas sobre estos números es siempre otro número entero excepto cuando realizamos una división, que puede dar lugar a números decimales.
```python
7 / 2
```

Un flotante consta de dos partes: la _mantisa_ y el _exponente_. La mantisa viene especificada por la parte entera más la parte fraccionaria, separadas ambas por un punto. El exponente se utiliza de forma similar a la notación científica de las calculadoras e implica añadir una ```e``` o una ```E``` al final de la mantisa. Algunas formas correctas de expresar el número 2 en formato flotante son: 
```python
2.
2.0
2e+0
2.e-0
2E+0
0.2e+1
20e-1
```

De la lista anterior podemos destacar, en la línea 1, que con añadir el punto al final del número entero, este ya se transforma en flotante y en las línea 3, 5 y 7, que si especificamos el exponente no es necesario añadir el punto.
Si mezclamos números enteros con números flotantes el resultado es el más general posible, esto es, un número flotante. Así,
```python
7. / 2
3.5
7 / 2.
3.5
```

__Haz los mismos cálculos que en la celda anterior pero usando variables__

## Funciones predefinidas
Existen algunas funciones predefinidas en Python que permiten trabajar con números sin recurrir al módulo ```math```. La función ```int``` permite obtener la parte entera de un número flotante:
```python
int(3.6494)
3
```
Es importante resaltar que ```int``` nos da la parte entera del número pero no redondea dicho numero, para realizar dicho cometido empleamos la función ```round```. A continuación se indican varios usos de dicha función:
```python
round(3.6494)
4.0
round(3.6494,1)
3.6
round(3.6494,2)
3.65
round(3.6494,3)
3.649
```

Por otra parte si queremos transformar un número entero en uno flotante, utilizamos la función ```float```. Por ejemplo,
```python
float(4)
4.0
```
Otra función que está predefinida en Python es ```abs```, que devuelve el valor absoluto de un número, ya sea entero o flotante. Por ejemplo:
```python
abs(-2)
2
abs(2)
2
abs(-2.)
2.0
```

__Prueba las funciones round, int, float y abs como en los ejemplos de arriba pero usando variables__

## Datos tipo cadena
Python también permite trabajar con datos de tipo _cadena_. Una _cadena_ (_"string"_ en inglés) es una secuencia de caracteres, que puede incluir letras, números, signos de puntuación, espacios, etc., y va encerrada entre comillas (simples o dobles). Un ejemplo es, 
```python
'hola mundo'
```

En la cadena de arriba hay que tner en cuenta que hay un espacio en blanco entre hola y mundo. Es muy común asignar variables a cadenas, de la misma forma que hemos hecho con los números. Por ejemplo:
```python
saludo = 'hola'
saludo2 = ' mundo'
saludo + saludo2
'hola mundo'
```

El signo '+' entre dos cadenas las concatena, esto es, una cadena se añade al final de la otra, y el efecto es completamente diferente que cuando utilizamos números, así:
```python
num1 = '2'
num2 = '2'
num1 + num2
'22'
```

Si queremos transformar las cadenas numéricas del ejemplo en números y después sumarlos lo que tenemos que hacer es utilizar la función ```int```:
```python
int(num1) + int(num2)
4
```
pero no
```python
int(num1 + num2)
22
```

porque en el segundo caso concatena primero las dos cadenas y después las transforma a número entero. De la misma forma podríamos transformar una cadena numérica a flotante con la función ```float```.<br>
La operación inversa de número a cadena también es posible con la función ```str```. Por ejemplo:
```python
num1 = 2
num2 = 2
str(num1) + str(num2)
'22'
```

__Usando variables de tipo cadena escribir una frase que escriba vuestro nombre y edad (Cada variable se correspondería con cada palabra__

__Usa dos variables cuyos valores respectivos sean las cadenas ```'2.5'``` y ```'3.7'``` y realiza con ellas la multiplicación y la división__

## Datos de tipo lógico
Los datos de tipo _lógico_ o _booleano_ solo pueden presentar dos valores: ```True``` (verdadero) o ```False``` (falso).  Python distingue entre mayúsculas y minúsculas y por tanto es importante darse cuenta de que tanto ```True``` como ```False``` comienzan por letra mayúscula. Sobre los datos de tipo lógico actúan los denominados _operadores lógicos_ , que son tres y que si actúan sobre datos o variables lógicas tienen el significado que se indica en a continuación:

| Operación | Operador | Significado | Prioridad |
|-----------|----------|-------------|-----------|
| ```not a``` | ```not``` | ```True``` si y solo si ```a``` es falso | 6 |
| ```a and b``` | ```and``` | ```True``` si y solo si ```a``` y ```b```son verdaderos | 7 |
| ```a or b``` | ```or``` | ```True``` si ```a``` y/o ```b``` son verdaderos | 8 |

Por otra parte para establecer comparaciones tenemos los _operadores de comparación_ que se muestran a continuación. En dicho cuadro se observa que la igualdad se representa por los signos ```==```  y que ```=``` se reserva para la asignación de variables.

| Operación | Operador | Significado | Prioridad |
|-----------|----------|-------------|-----------|
|```a == b``` | ```==``` | ```a``` es igual a ```b``` | 5 |
|```a != b``` | ```!=``` | ```a``` es distinto de ```b``` | 5 |
|```a > b```  | ```>```  | ```a``` es mayor que ```b``` | 5 |
|```a < b```  | ```<```  | ```a``` es menor que ```b``` | 5 |
|```a >= b``` | ```>=``` | ```a``` es mayor o igual a ```b``` | 5|
|```a <= b``` | ```<=``` | ```a``` es menor o igual a ```b``` | 5|

En Python además se pueden hacer varias comparaciones al mismo tiempo:
```python
2 != 5 > 3
```

Los operadores lógicos ```and``` y ```or``` empiezan a actuar por la izquierda mientras que ```not``` la hace por la derecha.<br> El ejemplo siguiente muestra el modo de actuar de los operadores lógicos:
```python
a = 1; b = 2; c = 3; d = 4
a == 1 or b == 2 and d == 3 or c == 3
True
```
El desglose de las operaciones se describe a continuación:<br>
Fíjate que se usa la función ```print``` para ir imprimiendo los resultados parciales de cada operación. Las ```'''``` se usan para abrir y cerrar comentarios:

```python
a = 1; b = 2; c = 3; d = 3
'''
Quedando:

True or True and False or True

Luego viene "and" que tiene mas prioridad que los "or"
'''
print(True and False)

'''
Quedando: 

True or False or True

Ahora, empezando por la izquierda:
 '''
print(True or False)
'''
Finalmente
''' 
print(True or True)
```
__Hacer el mismo desglose de operaciones que arriba para la siguiente (Añade tantas celdas como sean necesarias):__
```python
a == 2 or b == 3 and d == 3 or c == 3
```

__Indica el resultado de las siguientes operaciones lógicas:__
```python
True or 5 < 3
7 != 9 and not (False or 3 > 1)
True == False
True != False
True >= True
not False and True
1 + 1 == 3 or 1 + 1 != 3 and not 1 + 1 > 3
1 < 3 > 0 == 0
1 < 3 > 0 == True
1 + 7 != 7 == abs(-7)
```
__Haz cada línea en una celda nueva poniendo un comentario con el orden de las operaciones. Ejemplo para la primera:__
```python
True or 5 < 3   
''' 
primero 5<3 (False); luego True or False (True)
'''
True
```